@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocalizationOptions

@{
    var culture = Context.Features.Get<IRequestCultureFeature>();
    var cultureList = LocalizationOptions.Value.SupportedUICultures.Select(culture => {
        if (culture is null)
        {
            throw new ArgumentNullException(nameof(culture));
        }
        return new SelectListItem { Value = culture.Name, Text = culture.Name };
    }).ToList();
    var returnUrl = string.IsNullOrWhiteSpace(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}

<div>
    <form asp-action="CultureManagement" asp-controller="Home" asp-route-returnUrl="@returnUrl" method="post" >
        <select name="culture" asp-for="@culture.RequestCulture.UICulture.Name" asp-items="cultureList"
            onchange="form.submit();"></select>
    </form>
</div>